


<div id="nav1"> 
              <ul>
              {% for m in menus %}

                {% if is_granted('ROLE_USER') and m.titulo != "Usuario" %}
                
                <li id="current" style="border:none">
                  <a href="{{ path(m.enlace)}}" shape="rect">{{m.titulo}}</a>
                </li>

                {% elseif not is_granted('ROLE_USER') and m.titulo != "Salir" %}
                  <li id="current" style="border:none">
                  <a href="{{ path(m.enlace)}}" shape="rect">{{m.titulo}}</a>
                </li>

                {% endif %}

                

                {% endfor %}
              </ul> 
</div>