{% extends 'default.html.twig' %}

{% block body %}
<style>
a{
    color:black;
}
a:hover{
    color:blue;
}
</style>


<div class="example-wrapper">

<h3> Encuestas disponibles para el consumidor </h3>

{% for e in encuestas %}
<h1 id="hola"> -><a href="{{path("linkPreguntas", {"id":e.id})}}"> {{e.nombreEncuesta}} </a> </h1> 

{% endfor %}
</div>
<h3>-><a href="{{path("app_resultado_encuestas")}}"> Resultado de las encuestas </a></h3>

{% endblock %}